[submodule "otserver"]
	path = otserver
	url = git@github.com:vaigu-com/otserver.git
[submodule "otclient"]
	path = otclient
	url = git@github.com:mehah/otclient.git
[submodule "canaryaac"]
	path = canaryaac
	url = git@github.com:opentibiabr/canaryaac.git
[submodule "login-server"]
	path = login-server
	url = git@github.com:opentibiabr/login-server.git
